{
	# Options globales si nécessaires
}

http://localhost {
	log {
		format filter {
			fields {
				request>uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	encode zstd gzip

	mercure {
		 publisher_jwt "HS256:{$MERCURE_JWT_SECRET}"
    	 subscriber_jwt "HS256:{$MERCURE_JWT_SECRET}"

        cors_origins http://localhost:5173
        publish_origins http://localhost:5173
		demo
		subscriptions
		authorization_header
	}
	 header {
        Access-Control-Allow-Origin http://localhost:5173
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
    }
	header Content-Security-Policy "default-src 'self' mercure.rocks cdn.jsdelivr.net; style-src 'self' 'unsafe-inline';"

	redir / /.well-known/mercure/ui/

	respond /healthz 200
	respond /robots.txt `User-agent: *
Disallow: /`
	respond "Not Found" 404
}
